.h1 {
  margin: 0;
}

.section {
  gap: 10px;
}

.menuWrapper {
  -webkit-backdrop-filter: contrast(.5);
  backdrop-filter: contrast(0.5);
  border-radius: 30px;
  padding: 20px 0;
  margin-bottom: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.dishWrapperStyles {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.typeWrapperStyles {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.typeHeaderStyles {
  text-transform: uppercase;
  margin: 0
}

.dishNameStyle {
  text-transform: uppercase;
  margin: 0;
  color: var(--gold);
}
