.section {
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.section::before,
.section::after {
  content: '';
  z-index: 4;
  position: absolute;
  left: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.7);
}

.section::before {
  background-image: url("../../images/blinks-top.png");
  top: 22vh;
  height: 20vh;
}

.section::after {
  background-image: url("../../images/bottom.png");
  bottom: 0;
  height: clamp(140px, calc(100vh - 650px), 300px);
  background-position: top center;
}

.yearImage {
  width: 97vw;
  flex: 1 1;
  align-self: baseline;
  object-fit: contain;
  position: absolute;
  top: 250px;
}

.video {
  z-index: 1;
  width: 100%;
}

@media screen and (max-height: 670px) {
  .video {
    transform: translateY(-6vh);
  }
}

@media screen and (max-height: 740px) {

}

@media screen and (min-height: 840px) {
}
