.yearImage {
  transform: translateY(-5%);
  width: 120%;
  padding-left: 18px;

  box-shadow: 1px -63px 32px 6px rgba(0,0,0,0.52);
}

.blinksBottom {
  rotate: 180deg;
  background: var(--black);
  height: 160px;
  object-fit: cover;
  object-position: bottom center;
  transform: translateY(30%);
}

.blinksTop {
  position: absolute;
  top: 195px;
  rotate: 0deg;
  object-position: bottom center;
  object-fit: fill;
  z-index: 2;
}
