.section {
  gap: 40px;
  max-width: 400px;
  height: 85vh;
}

.heading {
  text-align: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.heading h2 {
  margin: 0;
}

.description {
  text-align: center;
  margin: 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

label {
  position: relative;
  display: flex;
  flex-direction: column;
  /*width: 100%;*/
  gap: 10px;
  font-size: 20px;
  /*padding: 0 10px;*/
}

.input {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 10px;
  font-size: 18px;
  padding: 5px;
}

.greating {
  color: var(--gold);
  text-align: center;
  max-width: 300px;
}

.section button {
  margin: 0;
}

@media screen and (min-width: 600px) and (orientation: landscape) {
  .section {
    flex-direction: row;
    gap: 60px;
    max-width: 800px;
  }
  .heading,
  .contactForm {
    flex: 1;
  }

}

@media screen and (min-width: 768px) {

  .contactForm {
    gap: 30px;
  }

  .section {
    max-width: 80vw;
  }
  .heading {
    font-size: 42px;
  }

  .description , label {
    font-size: 28px;
  }

  .input, .section button {
    font-size: 32px;
  }

  .greating {
    max-width: 35vw;
    font-size: 32px;
    width: 50%;
  }
}

@media only screen and (min-height: 912px) {
  .greating {
    max-width: 50vw;
  }
}
