.section {
  margin-bottom: 100px;
}

.timelineWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  backdrop-filter: contrast(0.65);
  border-radius: 30px;
  padding: 20px 10px;
  overflow: hidden;
}

.yearWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.year {
  color: var(--gold);
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 20px;
  background: var(--black);
}

.itemList {
  display: flex;
  flex-direction: column;
}

.itemWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  align-items: center;
  position: relative;
  padding-bottom: 30px;
}

.itemWrapper:nth-child(even) {
  flex-direction: row-reverse;
}

.text {
  width: 100%;
  text-align: justify;
  padding: 0 10px;
}

.fullSizeWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  height: 98vh;
}

.fullSizeWrapper img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.textSummary {
  text-align: justify;
  line-height: 1.5;
  border-top: 1px solid white;
  padding-top: 15px;
}

.image {
  border-radius: 20px;
}

.line {
  position: absolute;
  left: 50%;
  height: calc(100% - 0px);
  border-left: 2px solid var(--gold);
}

@media screen and (max-width: 375px) and (orientation: portrait) {
  .line {
    display: none;
  }

  .itemWrapper,
  .itemWrapper:nth-child(even) {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .timelineWrapper {
    margin: 5vw;
  }

  .itemWrapper {
    gap: 50px;
  }

  .year {
    font-size: 50px;
    padding: 5px 15px;
  }

  .text, .textSummary, .fullSizeWrapper p {
    font-size: 32px;
  }

  .header {
    font-size: 50px;
  }

  .fullSizeWrapper img {
    max-height: 90vh;

    @media screen and (orientation: landscape) {
      max-height: 70vh;
    }
  }

  .fullSizeWrapper p {
    text-align: center;
  }
}


@media only screen and (min-width: 600px) and (max-width: 1280px) and (orientation: landscape) {
  .fullSizeWrapper {
    flex-direction: row;
    align-items: center;
  }

  .year {
    margin-left: 50%;
  }
}

@media only screen and (min-height: 1024px) and (orientation: portrait) {
  .fullSizeWrapper {
    justify-content: start;
  }

  .fullSizeWrapper img {
    max-height: 42vh;
  }

  .fullSizeWrapper p {
    text-align: center;
    font-size: 32px;
  }
}
